#root {
  background-color: #101017;
  color: #ffffff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100vw;
}
